#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#optionsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#optionsContainer button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
